<div class="collapse show d-md-flex bg-light " id="sidebar">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item">
            <span class="nav-link text-truncate h6" href="#">
                <span class="d-inline">Categories</span>
            </span>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
            <a class="nav-link collapsed text-truncate" href="#{{category.name}}" data-toggle="collapse" data-target="#{{category.name}}">
                <span class="d-inline">{{category.name}}</span>
            </a>
            <div class="collapse" id="{{category.name}}" aria-expanded="false">
                <ul class="flex-column pl-2 nav">
                    <li class="nav-item" *ngFor="let subCategory of category.subCategories">
                        <a class="nav-link py-0" href="#">
                            <span>{{subCategory.name}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
