<div class="jumbotron container bg-light py-3">
  <h1 class="h-6">{{product?.title}}</h1>
  <p class="lead"><strong>Description:</strong> {{product?.description}}</p>
  <hr class="my-4">
  <table class="table table-borderless">
    <caption></caption>
    <thead>
      <tr>
        <th scope="col">quality</th>
        <th scope="col">year</th>
        <th scope="col">created</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product?.quality}}</td>
        <td>{{product?.year}}</td>
        <td>{{product?.created | date: "YYYY.MM.dd HH:mm"}}</td>
      </tr>
    </tbody>
  </table>
  <div class="lead" *ngIf="product?.status === productStatus.Public">
    <div *ngIf="product?.betConfiguration" class="form-group">

      <div class="list-group-flush rounded-0 mb-3">
        <span class="list-group-item bg-light text-dark">
          Total bets: <strong>{{bets?.length || 0}}</strong>
        </span>
        <span class="list-group-item bg-light text-dark">
          Bet step: <strong>{{product.betConfiguration?.minBetCapacity}}</strong>
        </span>
        <span *ngIf="bets?.length || false" class="list-group-item bg-light text-dark">
          Current bed: <strong>{{bets[0].value || "none"}}</strong>
        </span>
        <span class="list-group-item">
          Input value from <strong>{{getMinBetValue()}}</strong> to <strong>{{getMaxBetValue()}}</strong>
        </span>
      </div>

      <div class="input-group-prepend">
        <input type="number" class="form-control rounded-0" [(ngModel)]="value" style="width: 180px">
        <button (click)="makeBet(value)" class="btn btn-dark form-control rounded-0" [disabled]="!isValidBetValue()">
          Make Bet
        </button>
      </div>
      <button (click)="makeBet(product.betConfiguration!.buyItNowPrice!)" *ngIf="product.betConfiguration?.buyItNowPrice" class="btn btn-danger form-control rounded-0">
        Buy It Now
        <span class="badge badge-heading badge-light">
          {{product.betConfiguration!.buyItNowPrice}}
        </span>
      </button>
    </div>
    <strong class="btn">
      Expiration date: 
      <span class="h-6 m-2 badge badge-info">
        {{product?.expiration | date: "YYYY.MM.dd HH:mm:ss"}}
      </span>
    </strong> 
  </div>
  <div class="lead" *ngIf="product?.status === productStatus.Competed">
    <div class="alert alert-primary" role="alert">
      <h4 class="alert-heading">Completed</h4>
      This auction has been completed
    </div>
  </div>
  <div class="lead" *ngIf="product?.status === productStatus.Expired">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Expired</h4>
      This auction has been expired
    </div>
  </div>
</div>

<div class="errors container" style="position: fixed; bottom: 10px; left: 10px; right: 10px; z-index: 3">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let error of betErrors">
    <strong>Error!</strong> {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>