<div class="container">
  <div class="row">
    <div class="nav flex-column col-2 nav-pills" id="admin-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="add-mod-tab" data-toggle="pill" href="#add-mod" role="tab" aria-controls="add-mod" aria-selected="true">
        Add moderator
      </a>
    </div>

    <div class="tab-content col-10 container mb-3" id="admin-tabContent">
      <section class="tab-pane fade show active" id="add-mod" role="tabpanel" aria-labelledby="add-mod-tab">

        <div class="card">
          <div class="card-header">
            Add new moderator
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <form [formGroup]="moderatorForm" (ngSubmit)="addModerator()" class="form" role="form-login">
              <div class="form-group">
                  <input formControlName="email" placeholder="Email" class="form-control form-control-sm" type="text" required="">
              </div>
              <div class="form-group">
                  <input formControlName="password" placeholder="Password" class="form-control form-control-sm" type="password" required="">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block" [disabled]="moderatorForm.disabled">
                  Add
                </button>
              </div>
              <ol class="color-warning">
                  <li class="text-danger" *ngFor="let error of moderatorErrors">{{error}}</li>
              </ol>
              <span class="text-success">{{moderatorSuccess}}</span>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>