<div class="container">
  <div class="row">
    <div class="nav flex-column col-2 nav-pills" id="moderator-tab" role="tablist" aria-orientation="vertical">
      <a (click)="loadCategories(false)" class="nav-link active" id="mod-cat-tab" data-toggle="pill" href="#mod-cat" role="tab" aria-controls="mod-cat" aria-selected="false">
        Moderate categories
      </a>
      <a (click)="loadNewProducts(false)" class="nav-link" id="mod-prod-tab" data-toggle="pill" href="#mod-prod" role="tab" aria-controls="mod-prod" aria-selected="false">
        Moderate products
      </a>
  </div>

    <div class="tab-content col-10 container mb-3" id="moderator-tabContent">
      <div class="tab-pane fade show active" id="mod-cat" role="tabpanel" aria-labelledby="mod-cat-tab">
        <div class="card">
          <div class="card-header">
            Moderate categories
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <ul class="list-group container">
              <li class="list-group-item" *ngFor="let category of categories">
                <span class="h5">{{category.name}}</span>
                <div class="btn-group ml-5" role="group" aria-label="Button group">
                  <a *ngFor="let status of statuses | enumToKeyValue" 
                    (click)="modifyCategory(category.id, status.key, category.lastModified)"
                    class="btn btn-sm btn-light"
                    [class.btn-primary] = "category.status === status.key"
                    [class.btn-light] = "category.status !== status.key">
                      {{status.value}}
                  </a>
                </div>

                <ul class="list-group-flush">
                  <li class="list-group-item" *ngFor="let subCategory of category.subCategories">
                    <span class="h6">{{subCategory.name}}</span> 
                    <div class="btn-group ml-5" role="group" aria-label="Button group">
                      <a *ngFor="let status of statuses | enumToKeyValue" 
                      (click)="modifySubCategory(category.id, subCategory.id, status.key, subCategory.lastModified)"
                      class="btn btn-sm"
                      [class.btn-primary] = "subCategory.status === status.key"
                      [class.btn-light] = "subCategory.status !== status.key">
                        {{status.value}}
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="mod-prod" role="tabpanel" aria-labelledby="mod-prod-tab">
        <div class="card mb-3" *ngFor="let product of products">
          <h5 class="card-header">
            {{product.title}}
            <span class="badge badge-dark float-right">{{product.userEmail}}</span>
          </h5>
          <div class="card-body">
            <div class="card-text">
              {{product.description}}
              <table class="table">
                <caption></caption>
                <thead>
                  <th scope="col">quality</th>
                  <th scope="col">year</th>
                  <th scope="col">created</th>
                </thead>
                <tbody>
                  <td>{{product.quality}}</td>
                  <td>{{product.year}}</td>
                  <td>{{product.created | date: "YYYY.MM.dd HH:mm:ss"}}</td>
                </tbody>
              </table>
            </div>
            <a (click)="modifyProduct(product.id, ProductStatus.Public, product.lastModified)" class="btn btn-sm btn-primary">Publicate</a>
            <a (click)="modifyProduct(product.id, ProductStatus.Deleted, product.lastModified)" class="btn btn-sm btn-danger ml-3">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="errors container" style="position: fixed; bottom: 10px; left: 10px; right: 10px">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let error of globalErrors">
    <strong>Error!</strong> {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>