<div class="container">
  <div class="row">
    <aside class="collapse show d-md-flex bg-light col-3" id="sidebar">
      <ul class="nav flex-column flex-nowrap ">
          <li class="nav-item">
              <span class="nav-link text-truncate h6" href="#">
                  <span class="d-inline">Categories</span>
              </span>
          </li>
          <li class="nav-item" *ngFor="let category of categories">
              <a class="nav-link collapsed text-truncate" href="#cat_{{category.id}}" data-toggle="collapse" data-target="#cat_{{category.id}}">
                  <span class="d-inline">{{category.name}}</span>
              </a>
              <div class="collapse" [class.show]="category.id == categoryId" id="cat_{{category.id}}" aria-expanded="true">
                  <ul class="flex-column pl-2 nav">
                      <li class="nav-item" *ngFor="let subCategory of category.subCategories">
                          <a [routerLink]="" [queryParams]="{'categoryId':category.id, 'subCategoryId': subCategory.id}" class="nav-link py-0" [class.text-dark]="subCategory.id == subCategoryId">
                              <span>{{subCategory.name}}</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </li>
      </ul>
    </aside>
    <section class="col-9">
      <article>
        <header>
          <h1 class="h4">
            {{title}}
            <span class="small d-block">Found: {{products?.count}}</span>
            <hr />
          </h1>
        </header>
        <div>
          <div class="card mb-3" *ngFor="let product of products?.products">
            <h5 class="card-header">
              <a routerLink="/product" [queryParams]="{id: product.id}">{{product.title}}</a>
              <span class="badge badge-dark float-right">{{product.userEmail}}</span>
            </h5>
            <div class="card-body">
              <div class="card-text">
  
                {{product.description}}
  
                <table class="table">
                  <caption></caption>
                  <thead>
                    <th scope="col">quality</th>
                    <th scope="col">year</th>
                  </thead>
                  <tbody>
                    <td>{{product.quality}}</td>
                    <td>{{product.year}}</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <ngb-pagination 
            [collectionSize]="products?.count || 0" 
            [(page)]="page"
            [maxSize]="5" 
            (pageChange) = "pageChanged()"
            [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </article>
    </section>
  </div>
</div>