<nav class="navbar navbar-expand navbar-dark bg-warning h6" role="navigation">
    <div class="container">
        <a class="navbar-brand text-uppercase" routerLink="">
            <span class="border p-1 m-1">A</span>uction
        </a>

        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a routerLink="products" class="nav-link text-dark">Products</a></li>
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item order-2 order-md-1" *ngIf="isAuthenticated()">
                    <a routerLink="panel" class="btn text-light" title="settings">
                        <em class="fa fa-user text-light"></em>
                        {{currentUser?.email}}
                    </a>
                    <a href="#" class="btn text-dark" (click)="logout()">Logout</a>
                </li>
                <li class="dropdown order-1" *ngIf="!isAuthenticated()">
                    <span type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn">
                        Login
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdownMenu1" style="width: 320px">
                       <li class="px-3 py-2" style="display: block;">
                            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form" role="form-login">
                                <div class="form-group">
                                    <input formControlName="email" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input formControlName="password" placeholder="Password" class="form-control form-control-sm" type="password" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-block">Login</button>
                                </div>
                                <ol class="color-warning">
                                    <li class="text-danger" *ngFor="let error of loginErrors">{{error}}</li>
                                </ol>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown order-2" *ngIf="!isAuthenticated()">
                    <span type="button" id="dropdownMenu2" data-toggle="dropdown" class="btn">
                        Register 
                    </span>
                    <ul class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="dropdownMenu2" style="width: 320px">
                       <li class="px-3 py-2" style="display: block;">
                            <form [formGroup]="registerForm" (ngSubmit)="register()" class="form" role="form-register">
                                <div class="form-group">
                                    <input formControlName="email" placeholder="Email" class="form-control form-control-sm" type="text" required="">
                                </div>
                                <div class="form-group">
                                    <input formControlName="password" placeholder="Password" class="form-control form-control-sm" type="password" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-block">Register</button>
                                </div>
                                <ol class="color-warning">
                                    <li class="text-danger" *ngFor="let error of registerErrors">{{error}}</li>
                                </ol>
                                <span class="text-success">{{registerSuccess}}</span>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
