<div class="container">
  <div class="row">
    <div class="nav flex-column col-2 nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="add-prod-tab" data-toggle="pill" href="#add-prod" role="tab" aria-controls="add-prod" aria-selected="true">
        Add product
      </a>
    </div>

    <div class="tab-content col-10 container" id="v-pills-tabContent">
      <section class="tab-pane fade show active" id="add-prod" role="tabpanel" aria-labelledby="add-prod-tab">

        <div class="card">
          <div class="card-header">
            Add new product
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <form [formGroup]="newProductForm" (ngSubmit)="addProduct()" class="form" role="form-product">
              <div class="form-group">
                <label>Title</label>
                  <input formControlName="title" placeholder="Title" class="form-control form-control-sm" type="text">
              </div>
              <div class="form-group">
                <label>Description</label>
                <textarea formControlName="description" placeholder="Description" class="form-control form-control-sm" type="text">
                </textarea>
              </div>
              <div class="form-group">
                <label>Subcategory name</label>
                  <input formControlName="subCategoryName" placeholder="Title" class="form-control form-control-sm" type="text">
              </div>
              <div formGroupName="details" class="border rounded p-2 mb-3">
                <div class="form-group">
                  <label>Product quality</label>
                   <input type="number" formControlName="quality" class="form-control form-control-sm">            
                </div>
                <div class="form-group">
                  <label>Year</label>
                  <input type="number" formControlName="year" class="form-control form-control-sm">            
                </div>
             </div>

             <div formGroupName="betConfiguration" class="border rounded p-2 mb-3">
                  <div class="form-group input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input (click)="toggleNullable($event.target, 0, 'betConfiguration.buyItNowPrice')" type="checkbox">
                      </div>
                      <div class="input-group-text">
                        Buy It Now Price
                      </div>
                    </div>
                    <input type="number" formControlName="buyItNowPrice" class="form-control form-control-sm">
                  </div>
                  <div class="form-group input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input (click)="toggleNullable($event.target, 0, 'betConfiguration.minPrice')" type="checkbox">
                      </div>
                      <div class="input-group-text">
                        Min Price
                      </div>
                    </div>
                    <input type="number" formControlName="minPrice" class="form-control form-control-sm">
                  </div>
                  <div class="form-group">
                    <label>Start Price</label>
                    <input type="number" formControlName="startPrice" class="form-control form-control-sm">            
                  </div>
                  <div class="form-group">
                    <label>Auction Period</label>
                    <input type="number" formControlName="auctionPeriod" class="form-control form-control-sm">            
                  </div>
                  <div class="form-group">
                    <label>Min Bet Capacity</label>
                    <input type="number" formControlName="minBetCapacity" class="form-control form-control-sm">            
                  </div>
                  <div class="form-group input-group input-group-sm">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input (click)="toggleNullable($event.target, 0, 'betConfiguration.maxBetCapacity')" type="checkbox">
                      </div>
                      <div class="input-group-text">
                        Max Bet Capacity
                      </div>
                    </div>
                    <input type="number" formControlName="maxBetCapacity" required class="form-control form-control-sm">
                  </div>
              </div>

              <div class="form-group">
                  <button type="submit" class="btn btn-dark btn-block" [disabled]="newProductForm.invalid">Add</button>
              </div>
              <ol class="color-warning">
                  <li class="text-danger" *ngFor="let error of newProductErrors">{{error}}</li>
              </ol>
              <span class="text-success">{{newProductSuccess}}</span>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>



<div class="errors container" style="position: fixed; bottom: 10px; left: 10px; right: 10px">
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let error of globalErrors">
    <strong>Error!</strong> {{error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>